body {
    background-color: rgb(252, 243, 255);
}
hr {
    border-style: none;
    border-top-style: dotted;
    border-color: black;
    border-width: 5px;
    width: 5%;
} 
h1{
    color: rgb(230, 101, 206);
}
h3{
    color: rgb(230, 101, 206);
}
